<!--=== Slider ===-->
<revolution-slider>
	<!-- SLIDE -->
	<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 4">
		<!-- MAIN IMAGE -->
		<img width="1440" alt="screenshot 2016-05-01 20 34 28" src="https://cloud.githubusercontent.com/assets/19142747/14946044/f4d32e86-104e-11e6-870c-d2eb13251db1.png">
		<div class="tp-caption revolution-ch1 sft start"
			data-x="center"
			data-hoffset="0"
			data-y="100"
			data-speed="1500"
			data-start="500"
			data-easing="Back.easeInOut"
			data-endeasing="Power1.easeIn"
			data-endspeed="300">
			Opening sale
		</div>
		<!-- LAYER -->
		<div class="tp-caption revolution-ch2 sft"
			data-x="center"
			data-hoffset="0"
			data-y="280"
			data-speed="1400"
			data-start="2000"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			Super Promotion
		</div>
		<!-- LAYER -->
		<div class="tp-caption sft"
			data-x="center"
			data-hoffset="0"
			data-y="370"
			data-speed="1600"
			data-start="2800"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Grab your free book now!</a>
		</div>
	</li>
	<!-- END SLIDE -->
	<!-- SLIDE -->
	<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
		<!-- MAIN IMAGE -->
			<img width="1440" alt="screenshot 2016-05-02 10 15 33" src="https://cloud.githubusercontent.com/assets/19142747/14946050/f4fce348-104e-11e6-81d5-26a5c3804576.png">	
             		<div class="tp-caption revolution-ch3 sft start"
			data-x="center"
			data-hoffset="0"
			data-y="140"
			data-speed="1500"
			data-start="500"
			data-easing="Back.easeInOut"
			data-endeasing="Power1.easeIn"
			data-endspeed="300">
			<strong>Serious</strong> books for serious people
		</div>
		<!-- LAYER -->
		<div class="tp-caption revolution-ch4 sft"
			data-x="center"
			data-hoffset="-14"
			data-y="210"
			data-speed="1400"
			data-start="2000"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			Cras non dui et quam auctor pretium.<br>
			Aenean enim tortr, tempus et iteus m
		</div>
		<!-- LAYER -->
		<div class="tp-caption sft"
			data-x="center"
			data-hoffset="0"
			data-y="300"
			data-speed="1600"
			data-start="1800"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
		</div>
	</li>
	<!-- END SLIDE -->
	<!-- SLIDE -->
	<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
		<!-- MAIN IMAGE -->
		<img width="1440" alt="screenshot 2016-05-01 20 34 34" src="https://cloud.githubusercontent.com/assets/19142747/14946047/f4d70722-104e-11e6-9a23-2952334a202c.png">
		<div class="tp-caption revolution-ch3 sft start"
			data-x="right"
			data-hoffset="5"
			data-y="130"
			data-speed="1500"
			data-start="500"
			data-easing="Back.easeInOut"
			data-endeasing="Power1.easeIn"
			data-endspeed="300">
			<strong>Affordable</strong> classics
		</div>
		<!-- LAYER -->
		<div class="tp-caption revolution-ch4 sft"
			data-x="right"
			data-hoffset="0"
			data-y="210"
			data-speed="1400"
			data-start="2000"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			Our <strong>one and only</strong> mission is to provide<br>
			affordable books for the public.
		</div>
		<!-- LAYER -->
		<div class="tp-caption sft"
			data-x="right"
			data-hoffset="0"
			data-y="300"
			data-speed="1600"
			data-start="2800"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
		</div>
	</li>
	<!-- END SLIDE -->
	<!-- SLIDE -->
	<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
		<!-- MAIN IMAGE -->
		<img width="1440" alt="screenshot 2016-05-01 20 34 36" src="https://cloud.githubusercontent.com/assets/19142747/14946045/f4d4f34c-104e-11e6-864b-54ed64f10a69.png">
		<div class="tp-caption revolution-ch1 sft start"
			data-x="center"
			data-hoffset="0"
			data-y="100"
			data-speed="1500"
			data-start="500"
			data-easing="Back.easeInOut"
			data-endeasing="Power1.easeIn"
			data-endspeed="300">
			The New <br>
			<strong>Collection</strong><br>
			is here
		</div>
	</li>
	<!-- END SLIDE -->
	<!-- SLIDE -->
	<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 5">
		<!-- MAIN IMAGE -->
		<img width="1440" alt="screenshot 2016-05-01 20 34 38" src="https://cloud.githubusercontent.com/assets/19142747/14946049/f4da0cce-104e-11e6-88ec-be5e67b9f9f9.png">
		<div class="tp-caption revolution-ch5 sft start"
			data-x="right"
			data-hoffset="5"
			data-y="130"
			data-speed="1500"
			data-start="500"
			data-easing="Back.easeInOut"
			data-endeasing="Power1.easeIn"
			data-endspeed="300">
			<strong>Poem</strong> Collections
		</div>
		<!-- LAYER -->
		<div class="tp-caption revolution-ch4 sft"
			data-x="right"
			data-hoffset="-14"
			data-y="210"
			data-speed="1400"
			data-start="2000"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			Cras non dui et quam auctor pretium.<br>
			Aenean enim tortr, tempus et iteus m
		</div>
		<!-- LAYER -->
		<div class="tp-caption sft"
			data-x="right"
			data-hoffset="0"
			data-y="300"
			data-speed="1600"
			data-start="2800"
			data-easing="Power4.easeOut"
			data-endspeed="300"
			data-endeasing="Power1.easeIn"
			data-captionhidden="off"
			style="z-index: 6">
			<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
		</div>
	</li>
	<!-- END SLIDE -->
	<div class="tp-bannertimer tp-bottom"></div>
</revolution-slider>
<!--=== End Slider ===-->

<div class="container content-md">
	<!--=== Promotion ===-->
	<div class="row margin-bottom-60">
		<div class="col-md-6 md-margin-bottom-30">
			<div class="overflow-h">
				<div class="illustration-v1 illustration-img1">
					<div class="illustration-bg">
						<div class="illustration-ads ad-details-v1">
							<h3>Sign up for a <strong>FREE</strong> book!</h3>
							<a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#/signup">Signup Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="overflow-h">
				<a class="illustration-v1 illustration-img2" href="#/product/1">
					<div class="illustration-bg">
						<div class="illustration-ads ad-details-v2">
							<span class="item-time">Spring 2016</span>
							<span class="item-name">Opening sale</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div><!--/end row-->
	<!--=== End Promotion ===-->

	<div class="heading heading-v1 margin-bottom-20">
		<h2>Featured products</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio elit, ultrices vel cursus sed, placerat ut leo. Phasellus in magna erat. Etiam gravida convallis augue non tincidunt. Nunc lobortis dapibus neque quis lacinia. Nam dapibus tellus sit amet odio venenatis</p>
	</div>
	<!--=== Featured products ===-->
	<owl-carousel count='4' controls>
		<li class="item">
			<div class="product-img">
				<a href="shop-ui-inner.html"><img class="full-width img-responsive" src="assets/img/blog/09.jpg" alt=""></a>
				<a class="product-review" href="shop-ui-inner.html">Quick review</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
						<span class="gender text-uppercase">Men</span>
						<span class="gender">Suits - Blazers</span>
					</div>
					<div class="product-price">
						<span class="title-price">$95.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</li>
		<li class="item">
			<div class="product-img">
				<a href="shop-ui-inner.html"><img class="full-width img-responsive" src="assets/img/blog/26.jpg" alt=""></a>
				<a class="product-review" href="shop-ui-inner.html">Quick review</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
						<span class="gender text-uppercase">Women</span>
						<span class="gender">Suits - Blazers</span>
					</div>
					<div class="product-price">
						<span class="title-price">$60.00</span>
						<span class="title-price line-through">$95.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</li>
		<li class="item">
			<div class="product-img">
				<a href="shop-ui-inner.html"><img class="full-width img-responsive" src="assets/img/blog/11.jpg" alt=""></a>
				<a class="product-review" href="shop-ui-inner.html">Quick review</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
				<div class="shop-rgba-red rgba-banner">Out of stock</div>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
						<span class="gender text-uppercase">Men</span>
						<span class="gender">Suits - Blazers</span>
					</div>
					<div class="product-price">
						<span class="title-price">$95.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</li>
		<li class="item">
			<div class="product-img">
				<a href="shop-ui-inner.html"><img class="full-width img-responsive" src="assets/img/blog/12.jpg" alt=""></a>
				<a class="product-review" href="shop-ui-inner.html">Quick review</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
				<div class="shop-rgba-dark-green rgba-banner">New</div>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
						<span class="gender text-uppercase">Women</span>
						<span class="gender">Suits - Blazers</span>
					</div>
					<div class="product-price">
						<span class="title-price">$95.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</li>
		<li class="item">
			<div class="product-img">
				<a href="shop-ui-inner.html"><img class="full-width img-responsive" src="assets/img/blog/10.jpg" alt=""></a>
				<a class="product-review" href="shop-ui-inner.html">Quick review</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
						<span class="gender text-uppercase">Women</span>
						<span class="gender">Suits - Blazers</span>
					</div>
					<div class="product-price">
						<span class="title-price">$95.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</li>
		<li class="item">
			<div class="product-img">
				<a href="shop-ui-inner.html"><img class="full-width img-responsive" src="assets/img/blog/11.jpg" alt=""></a>
				<a class="product-review" href="shop-ui-inner.html">Quick review</a>
				<a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
				<div class="shop-rgba-red rgba-banner">Out of stock</div>
			</div>
			<div class="product-description product-description-brd">
				<div class="overflow-h margin-bottom-5">
					<div class="pull-left">
						<h4 class="title-price"><a href="shop-ui-inner.html">Double-breasted</a></h4>
						<span class="gender text-uppercase">Men</span>
						<span class="gender">Suits - Blazers</span>
					</div>
					<div class="product-price">
						<span class="title-price">$95.00</span>
					</div>
				</div>
				<ul class="list-inline product-ratings">
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating-selected fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li><i class="rating fa fa-star"></i></li>
					<li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</li>
	</owl-carousel>
	<!--=== End Featured products ===-->
</div>


<!--=== Collection Banner ===-->
<parallax parallax-style='collection-banner'>
	<div class="container">
		<div class="col-md-7 md-margin-bottom-50">
			<h2>Poem collection</h2>
			<p>Duis in posuere risus. Vivamus sed dignissim tellus. In vehicula justo tempor commodo. <br> Nunc lobortis dapibus neque quis lacinia</p><br>
			<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
		</div>
		<div class="col-md-5">
			<div class="overflow-h">
				<!-- <span class="percent-numb">50</span>
				<div class="percent-off">
					<span class="discount-percent">%</span>
					<span class="discount-off">off</span>
				</div> -->
				<div class="new-offers shop-bg-green rounded-x">
					<p>new</p>
					<span>Products</span>
				</div>
			</div>
		</div>
	</div>
</parallax>
<!--=== End Collection Banner ===-->

<div class='container content-md'>
	<!--=== Product Service ===-->
	<div class="row margin-bottom-60">
		<div class="col-md-4 product-service md-margin-bottom-30">
			<div class="product-service-heading">
				<i class="fa fa-truck"></i>
			</div>
			<div class="product-service-in">
				<h3>Free Delivery</h3>
				<p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
				<a href="#">+Read More</a>
			</div>
		</div>
		<div class="col-md-4 product-service md-margin-bottom-30">
			<div class="product-service-heading">
				<i class="icon-earphones-alt"></i>
			</div>
			<div class="product-service-in">
				<h3>Customer Service</h3>
				<p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
				<a href="#">+Read More</a>
			</div>
		</div>
		<div class="col-md-4 product-service">
			<div class="product-service-heading">
				<i class="icon-refresh"></i>
			</div>
			<div class="product-service-in">
				<h3>Free Returns</h3>
				<p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
				<a href="#">+Read More</a>
			</div>
		</div>
	</div><!--/end row-->
	<!--=== End Product Service ===-->

	<div class="heading heading-v1 margin-bottom-20">
		<h2>Categories</h2>
	</div>

	<!--=== Categories ===-->
	<div class="row ">
		<div class="col-md-6 md-margin-bottom-30">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img1" href="#">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">Classics</span>
								<span class="product-amount">56 Items</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="col-md-6 md-margin-bottom-30">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img2" href="#">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">Poems</span>
								<span class="product-amount">56 Items</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<!--=== End Categories ===-->

</div>

<!--=== Twitter-Block; Updates ===-->
<twitter-carousel count='4' title='Updates'>
	<div class="item active">
		<p>Classics.sg is officially launching on <br>May 1, 2016! <p>
		<p><a href="https://twitter.com/classicsSg">@classgSg</a></p>
		<ul class="list-inline twitter-icons">
			<li><a href="#"><i class="fa fa-reply"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-star"></i></a></li>
		</ul>
	</div>
	<div class="item">
		<p>We are having an opening sale for 1 week. All new users who sign up during this period and make purchases can make their first purchase FREE OF CHARGE!</p>
		<p><a href="https://twitter.com/classicsSg">#classicsSg Opening Sale</a></p>
		<ul class="list-inline twitter-icons">
			<li><a href="#"><i class="fa fa-reply"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-star"></i></a></li>
		</ul>
	</div>
	<div class="item">
		<p>Share our site with friends! <br><a>www.classics.sg</a></p>
		<p><a href="https://twitter.com/classicsSg">@classgSg</a></p>
		<ul class="list-inline twitter-icons">
			<li><a href="#"><i class="fa fa-reply"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-star"></i></a></li>
		</ul>
	</div>
	<div class="item">
		<p>New 100% Free Stock Photos. Every. Single. Day. Everything you need for your creative projects. <a href="#">http://publicdomainarchive.com</a></p>
		<p><a href="https://twitter.com/classicsSg">@classgSg</a></p>
		<ul class="list-inline twitter-icons">
			<li><a href="#"><i class="fa fa-reply"></i></a></li>
			<li><a href="#"><i class="fa fa-retweet"></i></a></li>
			<li><a href="#"><i class="fa fa-star"></i></a></li>
		</ul>
	</div>
</twitter-carousel>
<!--=== End Twitter-Block; Updates ===-->

<div class="container">

	<!--=== Best selling products ===-->
	<div class="row illustration-v4 margin-bottom-40">
		<div class="col-md-4">
			<div class="heading heading-v1 margin-bottom-20">
				<h2>Top Rated</h2>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/08.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price line-through">$75.00</li>
					<li class="thumb-product-price">$65.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/09.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price">$75.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/03.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price">$75.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="heading heading-v1 margin-bottom-20">
				<h2>Best Sellers</h2>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/02.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price">$75.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/10.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price">$75.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/06.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price line-through">$75.00</li>
					<li class="thumb-product-price">$65.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 padding">
			<div class="heading heading-v1 margin-bottom-20">
				<h2>Sale Items</h2>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/07.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price line-through">$75.00</li>
					<li class="thumb-product-price">$65.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/04.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price">$75.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
			<div class="thumb-product">
				<img class="thumb-product-img" src="assets/img/thumb/05.jpg" alt="">
				<div class="thumb-product-in">
					<h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
					<span class="thumb-product-type">Footwear - Oxfords</span>
				</div>
				<ul class="list-inline overflow-h">
					<li class="thumb-product-price">$75.00</li>
					<li class="thumb-product-purchase"><a href="#"><i class="fa fa-shopping-cart"></i></a> | <a href="#"><i class="fa fa-heart"></i></a></li>
				</ul>
			</div>
		</div>
	</div><!--/end row-->
	<!--=== End Best selling products ===-->
	
</div><!--/end cotnainer-->

<!--=== Shop Suvbscribe ===-->
<div class="shop-subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-8 md-margin-bottom-20">
				<h2>subscribe to our weekly <strong>newsletter</strong></h2>
			</div>
			<div class="col-md-4">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Email your email...">
					<span class="input-group-btn">
						<button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
					</span>
				</div>
			</div>
		</div>
	</div><!--/end container-->
</div>
<!--=== End Shop Suvbscribe ===-->
